<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container">
    <a [routerLink]="['/home']" class="navbar-brand">
      HOSPEDAR
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="['/home']" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/guide']" class="nav-link">Guìa</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/angelhost']" class="nav-link">AngelHost</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/host']" class="nav-link">Huesped</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Registrate</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Iniciar Sesiòn</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
